{% load tz %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row mt-3">
            <a href="{% url 'welcome' %}" class="btn btn-link mt-2">Voltar a página inicial</a>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <form method="get" class="form-inline">
                    <input type="text" name="search" value="{{ search_query }}" placeholder="Search..." class="form-control mr-2">
                    <input type="submit" value="Search" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome do Arquivo</th>
                            <th>Matrícula do Colaborador</th>
                            <th>Data da Marcação</th>
                            <th>Hora da Marcação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.created_by.file_name }}</td>
                                <td>{{ appointment.registration_id }}</td>
                                <td>{{ appointment.scheduling|timezone:"America/Sao_Paulo"|date:"Y-m-d" }}</td>
                                <td>{{ appointment.scheduling|timezone:"America/Sao_Paulo"|time:"H:i" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">Nenhum agendamento encontrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
